.container {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 25%;
    margin: 14rem 30rem 0 46rem;

    background-color: wheat;
}

#result {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.input-container {
    align-self: flex-start;

    margin-left: 5.2rem;
}

#buttons {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#table {
    margin-top: 2rem;
    margin-bottom: 2rem;

    border-spacing: 5rem 0;
}
